.ReviewSpecific
{
    background-color: bisque;
    margin: 1%;
    border-radius: 25%;
}

.ReviewSpecificBody
{
    background-color: #D1FFD7;
}

.ReviewSpecificHead
{
    background-color: #D1FFD7;
}
